body{
    background-color: black;
    display: flex;
    justify-content: center;
}

.button-container {
    display: flex;
    align-items: center;
    height: 768px;
}

#button{
    padding: 5px;
    cursor: pointer;
}

